bcrypt==5.0.0
cffi==2.0.0
cryptography==46.0.3
invoke==2.2.1
jinja2==3.1.6
junos-eznc==2.7.5
loguru==0.7.3
lxml==6.0.2
markupsafe==3.0.3
ncclient==0.7.0
paramiko==4.0.0
pycparser==2.23
pynacl==1.6.1
pyparsing==3.3.1
pyserial==3.5
pyyaml==6.0.3
scp==0.15.0
setuptools==80.9.0
six==1.17.0
transitions==0.9.3
yamlordereddictloader==0.4.2
