bcrypt==4.3.0
cffi==1.17.1
cryptography==46.0.2
jinja2==3.1.6
junos-eznc==2.7.4
loguru==0.7.3
lxml==6.0.0
markupsafe==3.0.2
ncclient==0.7.0
paramiko==3.5.1
pycparser==2.22
pynacl==1.5.0
pyparsing==3.2.3
pyserial==3.5
pyyaml==6.0.2
scp==0.15.0
setuptools==80.9.0
six==1.17.0
transitions==0.9.3
yamlordereddictloader==0.4.2
